.editor {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-left: calc(-1 * var(--sidebar-width));
  width: 100vw;
}

.body {
  display: flex;
  flex: 1;
  min-height: 0;
}

.loadingContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  padding: var(--space-8);
}
